.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 24px;
}

.layout {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
}

.left {
  flex: 1;
}

.right {
  width: 320px;
}