.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #000;
  background-color: #F5F5F5;
  padding: 15px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.selectField {
  padding: 8px;
  border: 1px solid #000;
  background: #fff;
}

.title {
    font-size: 18px;
}